<header>
    <nav>
        <div class="navigation">
            {{#userDefined.navigation}}
            <a href="{{url}}"{{#class}} class="{{.}}"{{/class}}>{{label}}</a>
            {{/userDefined.navigation}}
        </div>
    </nav>
</header>
