<div class="card">
    <h2 class="title"><a href="{{permalink}}" target="">{{title}}</a></h2>
    <p>{{description}}</p>
    {{publication.html}}
    {{#imageUrl}}<img src="{{imageUrl}}" alt="{{title}}">{{/imageUrl}}
</div>
